{% extends 'base.html.twig' %}

{% block title %}
    Twig View Quest
{% endblock %}

{% block content %}
    <div class="card-columns">
        {% for product in products %}
        <div class="card bg-primary">
            <div class="card-body text-center">
                <p class="card-text">{{ product }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
